<div class="chat">
  <div class="chat-top">
    <div class="chat-group">hogefuga</div>
    <div class="chat-end-btn">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
  <div class="chat-main">
    <%= render partial: 'message', collection: @messages %>
  </div>
  <div class="">
  <%= form_with model: [@room, @message], class: 'chat-bottom', local: true do |f| %>
    <div class="chat-bottom-form">
      <%= f.text_field :content, class: 'chat-bottom-form', placeholder: 'type a message' %>
      <label class="form-image">
        <span class="image-file">画像</span>
        <%= f.file_field :image, class: "hidden" %>
      </label>
    </div>
    <%= f.submit '送信' , class: "send-form" %>
    <% end %>
  </div>
</div>
